<div ng-controller="MainCtrl as controller">

    <div class="row " >
        <div class="hardware" >
            <div class=" text  container">
                <h1 translate>¡Simplificando los primeros pasos de jóvenes creadores!</h1>
            </div>
            <section class="container ">

                <h1 class="text  header-section">Hardware</h1>
                <div class="col-md-6 text-justify text text-p">
                    <p translate>
                        Placa First Makers - una placa para Arduino prearmada con sensores y actuadores.  Es fácilmente ampliable con módulos externos (más sensores y actuadores) que se conectan con conectores comunes de 3.5mm (como los que se usan para conectar auriculares).
                    </p>
                    <p translate>
                        No hay necesidad de soldar componentes, ni tener conocimiento especializado de electrónica.  Sólo se necesita tu curiosidad y creatividad para empezar a conectar y controlar los objetos que te rodean.
                    </p>
                </div>

                <div class="col-md-6 ">
                    <img src="images/fmBoard.png" alt="Fisrt Makers" class='img-responsive'><br>
                </div>
                <div class="col-lg-12 text text-center text-p" translate>
                    Las placas están en siendo probadas en nuestros laboratorios (fase de prototipo) y pronto estarán disponibles para el público.
                </div>

            </section>
        </div>

        <section class="section-separator">
            <div class="text-center ">
                <ul class="list-inline">
                    <li >
                        <a onclick="window.open(
                              'https://twitter.com/share?url='+encodeURIComponent('http://www.firstmakers.com')+'&amp;text='+encodeURIComponent('I shared a new cool shield for Arduino :') + '&amp;count=none/',
                              'twitter-share-dialog',
                              'width=626,height=436,top='+((screen.height - 436) / 2)+',left='+((screen.width - 626)/2 ));
                            return false;" class="btn btn-social-icon btn-lg btn-twitter"><i class="fa fa-twitter fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#" onclick="window.open(
                        'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('http://www.firstmakers.com') +'&amp;t=' + encodeURIComponent('I shared a new cool shield for Arduino'),
                        'facebook-share-dialog',
                        'width=626,height=436,top='+((screen.height - 436) / 2)+',left='+((screen.width - 626)/2 ));
                        return false;" class="btn btn-social-icon btn-lg btn-facebook">
                            <i class="fa fa-facebook fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#" onclick="window.open('https://plus.google.com/share?url=www.firstmakers.com%20','google-plus-share-dialog', 'width=626,height=436,top='+((screen.height - 436) / 2)+',left='+((screen.width - 626)/2 ));
                            return false;" class="btn btn-social-icon btn-lg btn-google-plus"><i class="fa fa-google-plus fa-2x"></i></a>
                    </li>

                </ul>

            </div>
        </section>

        <div class=" row software">
            <section class="container">
                <h1 class="text header-section section-margin" translate>Software</h1>
                <div class="col-md-6">
                    <img src="images/swBlock-{{controller.selectedLanguage}}.png" alt="Software example" class='img-responsive'>
                </div>
                <div class="col-md-6 text text-justify text-p">
                    <p translate>
                        Software First Makers - software abierto que permite controlar tu placa First Makers en pocos minutos. Mediante bloques de programación visual puedes capturar valores de sensores y modificar los actuadores.</p>
                    <p translate>
                        Es muy fácil dar los primeros pasos para programar los objetos que te rodean (¡y conectarlos a la Internet!)
                    </p>
                    <p><span translate>Este software se ha construido sobre</span>  <a href='http://s4a.cat/snap/' target='_blank'>Snap4Arduino</a>, <span translate>un gran proyecto de código abierto desarrollado por Citilab en Cataluña.</span>
                    </p>
                </div>


                <h1 class="text header-section section-margin" translate>Descargas</h1>
                <div class="col-md-6 ">
                    <p translate class="text text-p">La versión 0.3 funciona con nuestro prototipo de primera generación (Tide Makers).</p>
                    <div class="text-center section-margin">
                        <!--a type="button" class="btn btn-success " href="http://s3.amazonaws.com/firstmakers/releases/0.0.3/win/FirstMakers-0.3-alpha.exe.zip" target="_self" onclick="ga('send', 'event', 'button', 'download', 'http://s3.amazonaws.com/firstmakers/releases/0.0.3/win/FirstMakers-0.3-alpha.exe.zip');"><span translate>Descargar</span> (Windows 0.0.3)</a>
                        <a type="button" class="btn btn-success " href="http://s3.amazonaws.com/firstmakers/releases/0.0.3/osx/FirstMakers.dmg" target="_self" onclick="ga('send', 'event', 'button', 'download', 'http://s3.amazonaws.com/firstmakers/releases/0.0.3/osx/FirstMakers.dmg');"><span translate>Descargar</span> (Mac 0.0.3)</a-->
                        <a class="btn btn-success" href="http://s3.amazonaws.com/firstmakers/releases/0.0.3/win/FirstMakers-0.3-alpha.exe.zip" target="_self"
                           onclick="ga('send', 'event', 'button', 'download', 'http://s3.amazonaws.com/firstmakers/releases/0.0.3/win/FirstMakers-0.3-alpha.exe.zip');">
                            <i class="fa fa-windows fa-lg"></i>
                            <span translate> Descargar</span>
                        </a>
                        <a class="btn btn-success" href="http://s3.amazonaws.com/firstmakers/releases/0.0.3/osx/FirstMakers.dmg" target="_self"
                           onclick="ga('send', 'event', 'button', 'download', 'http://s3.amazonaws.com/firstmakers/releases/0.0.3/osx/FirstMakers.dmg');">
                            <i class="fa fa-apple fa-lg"></i>
                            <span translate> Descargar</span>
                        </a>
                    </div>
                </div>

                <div class="col-md-6 ">
                    <p translate class="text text-p">La version 0.0.6 funcionará con nuestro prototipo de segunda generación "First Makers v1.0" (pronto a ser liberado).</p>
                    <div class="text-center section-margin">
                        <!--a type="button" class="btn btn-success " href="http://firstmakers.s3.amazonaws.com/releases/0.0.6/win32/FirstMakers-0.0.6.exe.zip" target="_self" onclick="ga('send', 'event', 'button', 'download', 'http://firstmakers.s3.amazonaws.com/releases/0.0.6/win32/FirstMakers-0.0.6.exe.zip');" ng-disabled="false"><span translate>Descargar</span> (Windows 0.0.6)</a>
                        <a type="button" class="btn btn-success " href="http://firstmakers.s3.amazonaws.com/releases/0.0.6/osx/FirstMakers.dmg" target="_self" onclick="ga('send', 'event', 'button', 'download', 'http://firstmakers.s3.amazonaws.com/releases/0.0.6/osx/FirstMakers.dmg');" ng-disabled="false"><span translate>Descargar</span> (Mac 0.0.6)</a-->
                        <a class="btn btn-success" href="http://firstmakers.s3.amazonaws.com/releases/0.0.6/win32/FirstMakers-0.0.6.exe.zip" target="_self"
                           onclick="ga('send', 'event', 'button', 'download', 'http://firstmakers.s3.amazonaws.com/releases/0.0.6/win32/FirstMakers-0.0.6.exe.zip');">
                            <i class="fa fa-windows fa-lg"></i>
                            <span translate> Descargar</span>
                        </a>
                        <a class="btn btn-success" href="http://firstmakers.s3.amazonaws.com/releases/0.0.6/osx/FirstMakers.dmg" target="_self"
                           onclick="ga('send', 'event', 'button', 'download', 'http://firstmakers.s3.amazonaws.com/releases/0.0.6/osx/FirstMakers.dmg');">
                            <i class="fa fa-apple fa-lg"> </i>
                            <span translate> Descargar</span>
                        </a>
                    </div>

                </div>
               <div class="col-md-12 section-margin">
                   <div class="text-center">
                       <a class="btn btn-primary" href="https://github.com/elaval/firstmakers" target="_blank">
                           <i class="fa fa-github fa-lg" > </i>
                           <span translate>Código fuente </span>
                       </a>
                   </div>
               </div>


            </section>


        </div>

    </div>

</div>
